.dropdown {
    position: relative;
    z-index: 1;
    width: 50px;
    filter: url(#goo);
  
    &__face,
    &__items {
      background-color: #012840;
      padding: 20px;
      border-radius: 25px;
    }
  
    &__face {

      position: relative;
    }
  
    &__items {
      margin: 0;
      position: absolute;
      right: -65px;
      top: 50%;
      height: 80px;
      width: 330px;
      list-style: none;
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      visibility: hidden;
      z-index: -2;
      opacity: 0;
      transition: all 0.4s cubic-bezier(0.93, 0.88, 0.1, 0.8);
  
      &::before {
        content: "";
        background-color: #012840;
        position: absolute;
        bottom: 100%;
        right: 20%;
        height: 40px;
        width: 40px;
      }
    }
  
    &__arrow {
      border-bottom: 2px solid #fff;
      border-right: 2px solid #fff;
      position: absolute;
      top: 50%;
      right: 30px;
      width: 10px;
      height: 10px;
      transform: rotate(45deg) translateY(-50%);
      transform-origin: right;
    }
  
    input[type="checkbox"] {

      display: none;
  
      &:checked ~ .dropdown__items {
        top: calc(100% + 35px);
        visibility: visible;
        opacity: 1;
      }
    }
  }
  svg {
    display: none;
  }

  
  
